*{
  font-family: 'Rubik', sans-serif;
}
.containerU{
    display: flex;
    padding-bottom: 5%;
    margin-left: 10%;
}

.userInfo{
    display: block;
    width: 20%;
    height: 79vh;
    background-color:hsl(235, 45%, 61%);
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 6%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 60%;
    grid-gap: 2%; 
    margin-bottom: 1%;
    height: 100%;
     
  }
  
  .grid-item {
    width: 100%;
    height: 39vh; /* Asegura que cada grid-item ocupe el ancho completo del contenedor */
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el cuadrado */
    background-repeat: no-repeat;
    background-position: center;
    font-size: 14px;
    font-weight: 200;
    background-color: hsl(226, 43%, 10%);
    margin-left: 5%;
    align-items: center;
    border-radius: 6%;

  }

@media (max-width: 455px) {
    .containerU {
      flex-direction: column; 
      margin-left: 2%;
    }
  
    .grid-container {
      width: 100%; /* El grid ocupa todo el ancho disponible */
      grid-template-columns: 1fr;
      border-bottom: 1px solid black;
      height: auto !important; /* Cambiado a auto para adaptarse al contenido */
      grid-gap: 0% !important;  
      padding-bottom: 8%;
      
    }
    .grid-item {
        width: 90%;
        margin-bottom: 0% !important;
        min-height: 35vh;
        margin-top: 3%;
        padding-bottom: 3%;

    }
    .userInfo{
        width:90%;
        margin-top: 8%;
        height: 30vh !important;
        margin-bottom: 30% !important; /* Ajustado para reducir el espacio inferior */
    }

    .perfiles{
      margin-left: 40% !important;
      font-size: 130% !important;
    }
    .post-for{
      margin-top: 6% !important;
    }
    
    .username{
      margin-top: 2% !important;

    }
    
    .email{
      margin-top: 2% !important;
    }
    
    .userColor{
      background-color: hsl(226, 43%, 10%);
      height: 40% !important; 
      margin-top: 5% !important;
      border-radius: 6%;
    }
    
    .company{
      padding-top: 5% !important;
    }

    .avatar{
      margin-top: 6% !important;
    }
    .but{
      margin-top: 6%;
      margin-left: 36% !important;
    }
    .post-body{
      margin-right: 2%;
    }
    .p{
      margin-left: 11% !important;
      height: 62vh !important;
      margin-top: 30% !important;
    }
  }

  .perfiles{
    margin-left: 46%;
    font-family: 'Rubik', sans-serif !important;
    margin-bottom: 3%;
    font-size: 180%;

  }
.post-container{
  height: 15%;
  border-radius: 6%;
}
.svg-color-1 {
  background-color: #900C3F;
}

.svg-color-2 {
  background-color: aqua;
}

.svg-color-3 {
  background-color: aliceblue;
}

.svg-color-4{
  background-color: blueviolet;
}

.svg-color-5{
  background-color: burlywood;
}
.svg-color-6{
background-color: darkgoldenrod;
}
.svg-color-7{
background-color: darkgreen;
}
.svg-color-8{
background-color: dimgray;
}
.svg-color-9{
  background-color: deeppink;
  }
  .svg-color-10{
    background-color: orangered;
    }
.into-post{
  margin-top: 0%;
}

.post-body{
  font-size: 60%;
  margin-left: 4%;
  margin-right: 2%;
}

button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

button:hover {
  color: white;
}

button:active span::before {
  background: #2751cd;
}

.but{
  margin-top: 6%;
  margin-left: 25%;
}
.titulos{
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: bold;
}

.avatar{
  margin-left: 10%;
  margin-top: 10%;
}

.post-for{
  font-size: 60%;
  margin-left: 10%;
  margin-top: 15%;
}

.username{
  font-size: 130%;
  margin-top: 5%;
  margin-left: 10%;
}

.email{
  margin-top: 5%;
  margin-left: 10%;
  font-size: 83%
}

.userColor{
  background-color: hsl(226, 43%, 10%);
  height: 40%;
  margin-top: 40%;
  border-radius: 6%;
}

.company{
  font-size: 60%;
  margin-left: 10%;
  padding-top: 18%;
}
.companyName{
  margin-left: 10%;
  padding-top: 5%;
}
.p{
  margin-left: 35%;
  margin-top: 10%;
  height: 42vh;
}